<div class="col-md-4">
  <h3>ו-3</h3>
  <ul>
    <% @no_details3.each do |p| %>
    <li><%= name_with_invite(p) %></li>
    <% end %>
  </ul>
</div>

<div class="col-md-4">
  <h3>ו-2</h3>
  <ul>
    <% @no_details2.each do |p| %>
    <li><%= name_with_invite(p) %></li>
    <% end %>
  </ul>
</div>

<div class="col-md-4">
  <h3>ו-1</h3>
  <ul>
    <% @no_details1.each do |p| %>
    <li><%= name_with_invite(p) %></li>
    <% end %>
  </ul>
</div>
