<%= form_tag({ controller: 'static_pages', action: 'login'}, class: 'form-inline', remote: true) do %>

<div class="row">
  <div class="col-sm-12">
    <div class="input-group input-group-lg">
      <input type="hidden" name="hidden_pupil_id" id="hidden_pupil_id" />
      <%= telephone_field_tag 'invited_phone',nil, class: 'form-control input-lg reset-on-press', placeholder: 'יש להכניס את הטלפון איתו נרשמת' ,required: true %>
      <div class="input-group-btn">
          <%= submit_tag 'כניסה', class: 'btn btn-primary btn-lg', data: { disable_with: 'בודק...'} %>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->


<% end %>
