<div style="direction: rtl">

<h1>אנקדוטה על <%= @memorial.pupil_reciver.full_name%></h1>


<p>
  <strong>Pupil id sender:</strong>
  <%= @memorial.pupil_sender.full_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @memorial.content %>
</p>
</div>
