<h1>Book page is created</h1>

<p>
  <strong>Pupil:</strong>
  <%= @book.pupil.full_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @book.last_name %>
</p>

<p>
  <strong>About:</strong>
  <%= @book.about %>
</p>

<p>
  <strong>Expose phone:</strong>
  <%= @book.expose_phone %>
</p>
