<div style="direction:rtl">
<h1>התקבלה הודעה מ<%= @contact.full_name%></h1>

<ul>
  <li><%= @contact.email %></li>
  <li><%= @contact.phone_number %></li>
  <li><%= @contact.body %></li>

</ul>





</div>
