<div style="direction: rtl;">
  <h3>תודה על הרשמתך וברוכים הבאים</h3>
  <p>
ניפגש כולנו ביום רביעי ה27/7 בשעה 18:00 בביה״ס נר עציון.
  </p>
  <p><%= nl2br(@home.email_registration) %></p>
  <p>
    כדי לראות מי מגיע יש <%= link_to 'ללחוץ כאן', whos_in_url %>
  </p>
  <p>
  </p>
</div>
