<!-- Modal -->
<div class="modal fade" id="modalInvite" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-wrapper">

            <div class="modal-body">
              <button type="button" class="close icon-close" data-dismiss="modal" aria-hidden="true">x</button>
              <h3 class="center"></h3>
              ‎<h4>כניסה לפי מספר טלפון</h4>
              <div class="invite-message"></div>
              <%= render 'pupils/invite_by_sms_form'%>

            </div>

        </div>
        <!-- /.modal-wrapper -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">

  $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
  });
</script>
