html {
  height: 100%;
}

body {
  direction: rtl;
  // font-family: 'Rubik', sans-serif;
  font-family: 'Hebbo', sans-serif;
  font-size: 18px;
  height: 100%;
}

h1 {
  font-size: 40px;
}

section {
  padding: 25px 0;
  min-height: 300px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.error {
  color: #a94442;
}
.radio label, .checkbox label {
  padding-right: 20px;
}

.display-table		{ display:table; width:100%; height:100%; position:relative; z-index:99;	}
.display-table-cell	{ display:table-cell; width:100%; height:100%; }


.vertical-align-middle {
  vertical-align: middle;
}

.bg-brown {
  background-color: brown;
}

.bg-gray {
  background-color: #f7f7f7;
}

.overlay {
  background: rgba(0,0,0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}


.main-fold {
  position: relative;
  padding: 0;
  height: 650px;
  background: image-url("yard.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  .container {
    position: relative;
    z-index: 99;
  }
}

.show-form {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Navbar */

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}

.transparent {
  background-color: transparent;
  border-color: transparent;
  .navbar-nav li a {
    color: #fff !important;
  }
}

footer {
  height: 100px;
  background: #292929;
  color: #eee;
  a {
    color: #fff !important
  }
}

/* modals */
.modal {
  text-align: center;
  padding: 0!important;

  .select2-container--bootstrap[dir="rtl"] .select2-selection--single {
    height: 46px;
    font-size: 19px;
    padding-top: 10px;
  }
  .select2-results {
    text-align: right;
  }
}


.modal-body {
  text-align: right;
}

.select2-container {
    width: 100% !important;

    // padding: 10px 16px;
}


.admin {
  textarea {
    width: 600px;
    height:300px;
  }
}

#modalInvite ,#modalBook{
  h3 {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0;
  }
  .input-group {
    width: inherit;
  }
  .form-inline .input-group .input-group-btn {
    width: 1%;
  }
  .input-group-btn:last-child >.btn {
     border-top-right-radius: 0 !important;
     border-bottom-right-radius: 0 !important;
     border-top-left-radius: 4px !important;
     border-bottom-left-radius: 4px !important;
     border-right:0px !important;
     border-left:1px !important;

  }

  .input-group .form-control:first-child {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;

   }
}

.attachinary_container{
  margin-top: 20px;
}


.attachinary_container ul{
  padding-left:0px;
}

.attachinary_container ul li{
  position:relative;
  display: inline-block;
}

.attachinary_container ul li a{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,.85);
}

.upload_button_holder{
  position: relative;
  display: inline-block;
  height: 38px;

  input[type=submit]{
    border: 1px solid#bbbbbb;
    height: 38px;
    line-height: 36px;
    font-weight: bold;
    color: #333333;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff;
    padding: 0;
    width: 180px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-image: linear-gradient(bottom, rgb(244,244,244) 28%, rgb(254,254,254) 64%);
    background-image: -o-linear-gradient(bottom, rgb(244,244,244) 28%, rgb(254,254,254) 64%);
    background-image: -moz-linear-gradient(bottom, rgb(244,244,244) 28%, rgb(254,254,254) 64%);
    background-image: -webkit-linear-gradient(bottom, rgb(244,244,244) 28%, rgb(254,254,254) 64%);
    background-image: -ms-linear-gradient(bottom, rgb(244,244,244) 28%, rgb(254,254,254) 64%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.28, rgb(244,244,244)),color-stop(0.64, rgb(254,254,254)));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#fefefe')";
    margin: 0;
    cursor: pointer;
  }

  &:hover{
    input[type=submit]{
      background-image: linear-gradient(bottom, rgb(234,234,234) 28%, rgb(244,244,244) 64%);
      background-image: -o-linear-gradient(bottom, rgb(234,234,234) 28%, rgb(244,244,244) 64%);
      background-image: -moz-linear-gradient(bottom, rgb(234,234,234) 28%, rgb(244,244,244) 64%);
      background-image: -webkit-linear-gradient(bottom, rgb(234,234,234) 28%, rgb(244,244,244) 64%);
      background-image: -ms-linear-gradient(bottom, rgb(234,234,234) 28%, rgb(244,244,244) 64%);
      background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.28, rgb(234,234,234)),color-stop(0.64, rgb(244,244,244)));
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaeaea', EndColorStr='#f4f4f4')";
    }
  }
  input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 38px;
    margin: 0;
    padding: 0;
  }
  .cloudinary-fileupload{
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@media only screen and (min-width: 767px) {
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 767px) {
  .modal {
    margin-top: 100px;
  }
}
